<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>You can hike the entire length without a tent. There are 250 shelters spaced a day’s walk apart.</string>
	<key>1</key>
	<string>It takes the average person 165 days to complete the entire trail.</string>
	<key>2</key>
	<string>A typical hiker burns around 5500 calories a day when walking the Appalachian Trail.</string>
	<key>3</key>
	<string>Someone who aims to hike the whole trail in one shot is known as a &quot;thru-hiker.&quot; &quot;Day-hikers&quot; or &quot;section-hikers&quot; do small portions of the trail.</string>
	<key>4</key>
	<string>Of the 2000 hikers who attempt to complete the entire trail each year, only 1 in 4 succeed.</string>
	<key>5</key>
	<string>The Appalachian is the longest hiking-only trail in the world</string>
	<key>6</key>
	<string>The entire trail is maintained by 31 different clubs of volunteers, making it the largest volunteer conservation project in the world.</string>
	<key>7</key>
	<string>Almost no part of the trail as it is today was part of the original trail. Most of it has either been rebuilt or rerouted.</string>
	<key>8</key>
	<string>The Skyline Drive follows the original path of the Appalachian trail.</string>
	<key>9</key>
	<string>The amount of elevation change on the trail amounts to roughly 16 Mt. Everests.</string>
</dict>
</plist>
