<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>The popular belief that it can be seen from space is actually just a myth.</string>
	<key>1</key>
	<string>Some parts are estimated to be over 2300 years old.</string>
	<key>2</key>
	<string>The Great Wall took 1800 years to build.</string>
	<key>3</key>
	<string>What started as a collection of walls built to keep nomadic armies at bay were eventually connected to form the walls that you see today.</string>
	<key>4</key>
	<string>Only two thirds of the wall at its peak still stands today.</string>
	<key>5</key>
	<string>New sections of the wall are still being discovered.</string>
	<key>6</key>
	<string>Over 20 different dynasties were involved in the building of the Great Wall over the years.</string>
	<key>7</key>
	<string>The Great Wall was built mostly atop mountain ridges due to their strategic importance.</string>
	<key>8</key>
	<string>The Great Wall was also instrumental in protecting the famed silk road and its economic value</string>
	<key>9</key>
	<string>Most of what we see today was built during the Ming Dynasty, the last period where large scale wall building was implemented</string>
</dict>
</plist>
