<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>40.449298</real>
		<key>long</key>
		<real>116.553266</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>40.447</real>
		<key>long</key>
		<real>116.555129</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>40.445387</real>
		<key>long</key>
		<real>116.554625</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>40.444166</real>
		<key>long</key>
		<real>116.556744</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>40.441297</real>
		<key>long</key>
		<real>116.558169</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>40.440508</real>
		<key>long</key>
		<real>116.560185</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>40.438382</real>
		<key>long</key>
		<real>116.561349</real>
		<key>no</key>
		<integer>7</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>40.435347</real>
		<key>long</key>
		<real>116.561907</real>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>Huairou</string>
	</dict>
</array>
</plist>
